<div id="container">
  <main class="select-none">
    <section class="flex w-screen h-screen overflow-hidden">
      <div
        class="relative flex justify-center items-center text-right flex-1 z-40 p-4"
      >
        <p class="max-w-[80%] text-blue-950 text-5xl xl:text-7xl">
          ごめん あまない 俺は今お前のために怒ってない
        </p>
      </div>

      <div class="absolute top-0 left-0 w-screen h-screen glass-white z-30">
      </div>

      <div class="w-1/2 relative">
        <div
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-screen h-screen z-10 custom-bounce"
        >
          <img
            class="object-cover h-full w-full"
            src="/public/gojo-amanai-shell-2.png"
          />
        </div>
        <img
          class="w-screen h-screen object-cover bg-center"
          src="/public/gojo-amanai.jpg"
        />
      </div>
    </section>
    <!-- <iframe
      width="0"
      height="0"
      src="https://www.youtube.com/embed/I8LvlOwRqbs?si=ItxR1Zowdg-JbFEk&autoplay=1&loop=1"
      allow="autoplay"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe> -->
    <iframe width="0" height="0" src="https://www.youtube.com/embed/fvOeih7T3dc?&autoplay=1&loop=1" allow="autoplay" allowfullscreen></iframe>
  </main>
</div>

<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<style>
  body {
    font-family: "Zen Kaku Gothic New", sans-serif;
  }
  .glass {
    /* From https://css.glass */
    background: rgba(132, 105, 57, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5px);
  }

  .glass-white {
    /* From https://css.glass */
    background: rgba(252, 252, 252, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
  }

  .custom-bounce {
    animation: custom-bounce 5s ease infinite;
  }
  @keyframes custom-bounce {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(-10px);
    }
    20% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-5px);
    }
    40% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(0);
    }
    70% {
      transform: translateY(-5px);
    }
    80% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
